<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign talks = data[1] | sort: 'date' | reverse %}
  {% for talk in talks %}
  <li class="list-group-item">
      <div class="row">
          <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
              <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
                  {{ talk.date }}
              </span>
          </div>
          <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
              <h6 class="title font-weight-bold ml-1 ml-md-4">{{ talk.title }}</h6>
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;"><a href="{{ talk.institution_link }}">{{ talk.institution }}</a></h6>
              {% if talk.presentationType %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.9rem; font-style: italic;">{{ talk.presentationType }}</h6>
              {% endif %}
              {% if talk.event %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.9rem;"><a href="{{ talk.event_link }}">{{ talk.event }}</a></h6>
              {% endif %}
              <span class="ml-1 ml-md-4">
                  {% for link in talk.links %}
                      <a href="{{ link.url }}">{{ link.type }}</a>{% if forloop.last == false %} | {% endif %}
                  {% endfor %}
              </span>
          </div>
      </div>
  </li>
  {% endfor %}
</ul>
